:root {
  --red-linear: linear-gradient(#ff5e6b,#ff2f14);
  --red-second-linear: linear-gradient(#ff0095, #fff025);
  
  --green-linear: linear-gradient(#46ffc1, #19fd24);
  --green-second-linear: linear-gradient(#00fff2,#73ff8a);
  
  --blue-linear: linear-gradient(#4366ff, #0e0d5f);
  --blue-second-linear: linear-gradient(#5792ff, #700099);

  --black-first: #000;
  --black-second: #000000b3;
  --black-third: #0000004d;
  
  --gray-red-linear: linear-gradient(#ccc, #f99);
  --gray-green-linear: linear-gradient(#ccc, #9f9);
  --gray-blue-linear: linear-gradient(#ccc, #99f);
  
  --white: #fff;
  --white-red-linear: linear-gradient(#fff, #f99);
  --white-green-linear: linear-gradient(#fff, #9f9);
  --white-blue-linear: linear-gradient(#fff, #99f);
}